// showing default values
$accentColor = #E3B505
$textColor = #000000
$borderColor = transparent
$codeBgColor = #061A40

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i|IBM+Plex+Sans:400,400i,700,700i');

body
  font-family 'IBM Plex Sans', sans-serif !important

code, kbd, .line-number
  font-family 'IBM Plex Mono', monospace !important

.feature h2
  text-align center

a
  font-weight 700 !important