
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i|IBM+Plex+Sans:400,400i,700,700i');

body
  font-family 'IBM Plex Sans', sans-serif 

code, kbd, .line-number
  font-family 'IBM Plex Mono', monospace 

.feature h2
  text-align center

.home .hero .description
  max-width 950px

a.sidebar-link
  .sidebar-sub-headers &
    &.active
      font-weight 700 !important

a
  font-weight 700 !important

strong
  font-weight 700 !important

h1, h2, h3, h4, h5, h6
  font-weight 700 !important
  .content:not(.custom) > &
    .prefix
      font-weight 700 !important

.feature
  h2
    font-weight 700 !important

figure
  display block
  margin 0
  padding 0
  width 625px
  height 124px
  border-radius 6px
  overflow hidden

figure div
  margin 0 !important
  padding 0 !important
